@keyframes beacon_float {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.beacon {
  animation: beacon_float 1s infinite ease-in-out;
}
